<div class="col-xs-12">
  <div class="margin-20">
    <h4>Add Dependents</h4>
  </div>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <!--dependents-->
    <div formArrayName="dependents">
      <div *ngFor="let dependent of myForm.controls.dependents.controls; let i=index" class="panel panel-default">
        <div class="panel-heading">
          <span>Dependent {{i + 1}}</span>
          <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.dependents.controls.length > 1" (click)="removeDependent(i)"></span>
        </div>
        <div class="panel-body" [formGroupName]="i">
          <div class="form-group col-xs-6">
            <label>First name</label>
            <input type="text" class="form-control" formControlName="firstName">
            <small [hidden]="myForm.controls.dependents.controls[i].controls.firstName.valid" class="text-danger">
                First name is required
            </small>
          </div>
          <div class="form-group col-xs-6">
            <label>Last name</label>
            <input type="text" class="form-control" formControlName="lastName">
            <small [hidden]="myForm.controls.dependents.controls[i].controls.lastName.valid" class="text-danger">
                Last name is required
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="margin-20">
      <a (click)="addDependent()" style="cursor: default">
        Add another dependent +
      </a>
    </div>

    <div class="margin-20">
      <button type="button" class="btn btn-warning pull-right" style="margin-left:5px;" (click)="goBack()">Back</button>
      <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Save</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
